@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    /* height: 200vh; */
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    /* background-color: rgb(0, 0, 0); */
    /* height: 2000px; */
    color: white;
    background: white top/contain no-repeat;
}

.top{
    background: url(Assets/alexis-antoine-kXMe4hugFA4-unsplash111.jpg) center/cover;
    height: 470px;
}

/* .change1{
    background: url(Assets/alexis-antoine-kXMe4hugFA4-unsplash111.jpg) center/cover;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    /* background: rgba(34, 34, 34, 0.25); */
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    background: linear-gradient(to bottom, rgba(34, 34, 34, .9), transparent);
}

.change {
    background: white;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 10px 2%;
}

.change .logo{
    color: black;
}

.change .items a{
    color: rgb(105, 105, 105);
}

.change .items a:hover{
    color: black;
}

.logo {
    font-size: 28px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
    letter-spacing: 2px;
    transition: .3s;
}

span {
    color: deepskyblue;
}

/* .logo span{
    transition: .3s;
}

.logo:hover span:after{
    content: "'";
}

.logo:hover span{
    margin-right: 3px;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    height: 24px;
    /* background-color: red; */
    overflow: hidden;
    justify-content: flex-start;
}

.explore{
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(0,0,0,.4);
}

/* --------------------------here flex declaration-------------------------- */

.explore, .e-drop1, .e-drop2{
    display: flex;
    flex-direction: column;
}

.e-drop{
    display: flex;
    /* padding: 20px; */
    line-height: 40px;
    /* gap: 30px; */
    /* display: none; */
}

.e-drop1{
    gap: 7px;
    padding: 20px;
    border-right: 1px solid grey;
    /* padding-right: 30px; */
}

.e-drop2{
    padding: 20px;
    gap: 8.5px;
    margin-bottom: 20px;
}

.drop-heading{
    line-height: normal;
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
}

.drop-item div{
    color: rgb(0,0,0,.5);
    line-height: normal;
    border-radius: 7px;
    padding: 7px;
}

.drop-item div:hover{
    background-color: rgba(0, 0, 0, .2);
    color: black;
}

.s-drop{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid grey;
}

.items a {
    font-size: 18px;
    color: #b1b1b1;
    text-decoration: none;
    font-weight: 600;
    /* margin-left: 35px; */
    text-decoration: none;
    /* transition: color .3s; */
    transition: all .3s;
}

.navbar a:hover {
    transform: translateY(-27px);
    color: rgb(255, 255, 255);
    /* transform: rotate(360deg); */
}

.navbar a:focus {
    /* color: #ededed; */
    transform: translateY(-27px);
    /* text-decoration: underline; */
    color: deepskyblue;
}

.about {
    text-align: center;
    padding: 20px 6%;
}

h1 {
    margin-top: 130px;
    font-size: 3rem;
}

#ann {
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {

    0% {
        color: #FF0000;
    }

    20% {
        color: #9400D3;
    }

    40% {
        color: #0000FF;
    }

    60% {
        color: #00e200;
    }

    80% {
        color: #FF7F00;
    }

    100% {
        color: #FF0000;
    }
}

.search{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
    width: 600px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 7px 10px rgb(0,0,0,.5);
    border: 1px solid white;
    margin-top: -10px;
}

.visible, .visible div{
    display: flex;
    align-items: center;
}

.visible a i{
    margin-left: 7px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: white;
}

#s-box{
    border: none;
    outline: none;
    width: 350px;
    font-size: 1rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
}

.dropdown{
    height: 40px;
    width: 150px;
    padding: 10px;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: .9rem;
    margin-left: 447px;
    transform: translateX(-18px);
    background-color: rgb(0,0,0,.1);
    text-align: left;
}

.dropdown:hover{
    background-color: rgb(0,0,0,.2);
}

.bx{
    color: rgb(0,0,0,.6);
    margin-right: 10px;
    transform: translateY(2px);
    font-size: 1.25rem;
}

.options{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    line-height: 40px;
    text-align: left;
    box-shadow: 0 0 8px rgb(0,0,0,.4);
    z-index: 100;
    
    position: sticky;
    margin-top: 420px;
    /* margin-left: -175px; */
    margin-right: -35px;
    display: none;
}

.active {
    display: block;
}

.search::after{
    content: '';
    position: relative;
    width: 8px;
    height: 8px;
    right: 15px;
    bottom: 3px;
    border: 2px solid rgb(255, 255, 255);
    border-top: transparent;
    border-left: transparent;
    transform: rotate(45deg);
    z-index: 1000;
    transition: .4s;
    pointer-events: none;
}

.search .active::after{
    bottom: -3px;
    transform: rotate(225deg);
}

.options div{
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    color: rgb(0,0,0,.7);
}

.options div:hover{
    background-color: rgb(236, 236, 236);
}

.opts, .filter{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 12px;
}

.opts{
    /* padding: 0 10%; */
    justify-content: center;
}

.opts-btn{
    padding: 8px 15px;
    border-radius: 100px;
    color: rgb(0,0,0,.5);
    font-weight: 700;
}

.opts-btn:hover{
    background-color: rgb(236, 236, 236);
}

a:focus .opts-btn{
    background-color: rgb(236, 236, 236);
    color: deepskyblue;
}

a:focus .opts-btn i{
    color: black;
}

.filter{
    justify-content: space-between;
    margin: 0 2%;
    height: 70px;
    overflow: hidden;
}

.filter a{
    flex-grow: 1;
}

.filter a div{
    padding: 3px 10px;
    border-radius: 10px;
    color: rgb(0,0,0,.7);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.26);
    transition: .2s;
    text-align: center;
}

.filter a div:hover{
    border: 1px solid rgb(0,0,0,1);
    color: deepskyblue;
}

.gallery{
    display: flex;
    justify-content: center;
    margin: 10px 2%;
    gap: 20px;
    height: 300vh;
    overflow: hidden;
    box-shadow: inset 0 -250px 100px -100px #ffffff;
}

/* .lm{
    display: flex;
    height: auto;
} */

.col{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    z-index: -3;
}

.block img {
    width: 100%;
    height: auto;
}

.load{
    margin-top: -150px;
    padding:  8px 50px;
    border-radius: 100px;
    color: black;
    border: 1px solid rgb(131, 131, 131);
    background: white;
    backdrop-filter: blur(5px);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.load:hover{
    border: 1px solid rgb(0, 0, 0);
}

/* ----------------footer------------------- */

.foot{
    display: flex;
    padding: 60px 2% 90px 2%;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(28, 28, 46); */
    /* background-color: green; */
}

.brand p, ul li, .title{
    font-family: 'Open Sans', sans-serif;
}

.brand{
    margin-top: -230px;
    margin-right: 200px;
    /* line-height: 60px; */    
}

.brand .logo{
    font-size: 35px;
    font-weight: 700;
    color: rgb(31, 31, 31);
}

.brand p, ul li{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

ul li{
    list-style: none;
    line-height: 35px;
}

ul a li:hover{
    text-decoration: underline deepskyblue;
    color: deepskyblue;
}

.title{
    font-weight: 700;
    color: black;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    width: 150px;
    /* background-color: red; */
}

.icons a i, .s-drop a i{
    font-size: 24px;
    color: rgb(31, 31, 31);
}

.icons a i:hover, .s-drop a i:hover{
    color: deepskyblue;
}

.text{
    text-align: center;
    font-size: 1rem;
    color: white;
}

.cy{
    width: 100%;
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about, .brand{
    cursor: default;
}
